Deep Residual Learning for Image Recognition.pdf
EfficientNet_ Rethinking Model Scaling for Convolutional Neural Networks.pdf
VERY DEEP CONVOLUTIONAL NETWORKS FOR LARGE-SCALE IMAGE RECOGNITION.pdf

*.tar.gz
*.pth